<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="app-container">
        <div id="root" class="boolzapp-container">
            <!-- COLUMN LEFT WITH USER LOG NOTIFICATIONS FILTER AND LIST CONTACTS -->
            <div class="col-left">
                <div class="header">
                    <div class="user">
                        <img src="img/avatar_io.jpg" alt="Avatar" class="user-image">
                        <span class="font-small">Nome Utente</span>    
                    </div>
                    <div class="functions">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="announce-notifications">
                    <div class="signal-active">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notifications-container">
                        <span class="font-small">Ricevi notifiche di nuovi messaggi</span>
                        <a href="#" class="active-notifications-sharing">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="filter-container">
                    <div class="input-icon">
                        <i class="fas fa-search"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat" class="filter" @keyup="filterContact" v-model="userFilter">
                    </div>
                </div>
                <div class="container-list-contacts">
                    <ul class="list-contacts" v-for="contact, index in contacts" v-if="contact.visible">
                        <li class="contact" @click="selectActiveContact(index), showUnderMenu = false" :class="{activegrey: activeContact === index}">
                            <div class="contact-contain">
                                <img class="contact-image" :src="'img/avatar' + contacts[index].avatar + '.jpg'" alt="Avatar">
                                <div class="contact-name">
                                    {{contact.name}}
                                    <div v-if="contact.messages.length > 0" class="last-mex">
                                        {{contact.messages[contact.messages.length-1].text.slice(0, 20) + '...'}}
                                    </div> 
                                </div>
                            </div>
                            <div v-if="contact.messages.length > 0" class="time-last-mex">
                                {{contact.messages[contact.messages.length-1].date}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- COLUMN RIGHT WITH CONTACTS SELECTED CHAT MESSAGES AND WRITE INPUT-->
            <div class="col-right">
                <div class="header">
                    <div class="user">
                        <!-- Aggiunger immagine del contatto selezionato -->
                        <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'" alt="Avatar" class="user-image">
                        <div class="contact-selected">
                            <span class="font-small">{{contacts[activeContact].name}}</span>
                            <span class="last-access">Ultimo accesso oggi alle {{contacts[activeContact].lastAccess}}</span>    
                        </div>
                    </div>
                    <div class="functions">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="messages-container">
                    <div class="row-message" v-for="message,index in contacts[activeContact].messages">
                        <div class="messages received" :class="{'sent':message.status === 'sent'}">
                            <div class="text-msg">
                                {{message.text}}
                                <span class="arrow-dwn"  >
                                    <i class="fas fa-angle-down" @click="toggleShowUnderMenu(index)"></i>
                                </span>
                                <div class="under-menu-contain" :class="{'active-under-menu': showUnderMenu === index}">
                                    <ul class="under-menu">
                                        <li>info messaggio</li>
                                        <li @click="deleteMessage(index)">cancella messaggio</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="data-clock">
                                {{message.date}}
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="write-input">
                    <i class="far fa-smile"></i>
                    <div class="text-input">
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMessage" v-model="userMessage">
                    </div>
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/dayjs"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>